<a href="https://colab.research.google.com/github/NOUR-17-code/gdp-dashboard/blob/main/Exercices_03_Boucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# <center> <b> <span style="color:orange;"> Programmation Python pratique </span> </b></center>

### <center> <b> <span style="color:green;">Travaux Pratiques</span> </b></center>


****

## <center> <b> <span style="color:blue;"> Boucles </span> </b></center>

#### Exercice 0
>On se propose de résoudre dans l'ensemble des entiers naturels l'inéquation $2n(n+1)<100$.
En utilisant une boucle **While**, écris un programme qui renvoie les solutions entières de cette inéquation.

In [1]:
n = 0
while 2 * n * (n+1) < 100:
    print(n)
    n += 1

0
1
2
3
4
5
6

#### Exercice 1
> En utilisant une boucle **For**, écris un programme qui calcule la somme des 30 premiers entiers naturels non nuls.

In [2]:
Somme = 0
i = 1
while i <= 30:
    Somme += i
    i += 1
print(Somme)

465

#### Exercice 2
>Refais l'exercice 1 en utilisant une boucle **While**.

In [3]:
s = 0
for i in range (1,31):
    s = s + i
print(s)

465

#### Exercice 3
>En utilisant une boucle **For**, écris un programme qui calcule le produit des 9 premiers entiers naturels non nuls.

In [4]:
Produit = 1
for i in range (1,10):
    Produit *= i
print("le produit est:",Produit)

le produit est: 362880

#### Exercice 4
> Refais l'exercice 3 en utilisant une boucle **While**.

In [7]:
Produit = 1
i = 1
while i <= 9:
    Produit *= i
    i += 1
print(Produit)

362880

#### Exercice 5
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres pairs de $1$ à $n$ en utilisant la boucle **For**.

In [11]:
n=int(input("ecrire un nombre: "))
for i in range (1,n+1):
      if  i%2==0:
          print("le nombre est pair",i)

ecrire un nombre: 4
le nombre est pair 2
le nombre est pair 4

#### Exercice 6
>Refais l'exercice 5 en utilisant la boucle **While**.

In [10]:
n=int(input("ecrire un nombre: "))
i = 1
while i <= n:
    if i % 2 == 0:
        print("pair",i)
    i += 1

ecrire un nombre: 4
pair 2
pair 4

#### Exercice 7
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres impairs de 1 à n en utilisant la boucle **For**.

In [12]:
n=int(input("saisir un nombre"))
for i in range (1,n+1):
    if i%2!=0:
        print("le nombre est impair",i)

saisir un nombre3
le nombre est impair 1
le nombre est impair 3

#### Exercice 8
>Refais l'exercice 7 en utilisant la boucle **While**.

In [14]:
n=int(input("saisir un nombre: "))
i=1
while i <= n:
    if i % 2 != 0:
        print("impair",i)
    i += 1

saisir un nombre: 3
impair 1
impair 3

#### Exercice 9
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication  en utilisant la boucle **For**.

In [15]:
n=int(input("saisir un nombre: "))
for i in range (1,11):
    print(n,"x",i,"=",n*i)

saisir un nombre: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

#### Exercice 10
>Refais l'exercice 9 en utilisant la boucle **While**.

In [16]:
n=int(input("saisir un nombre: "))
i=1
while i<= 10:
    print(n,"x",i,"=",n*i)
    i += 1

saisir un nombre: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

#### Exercice 11
>Écris un programme qui demande à l'utilisateur d'entrer un nombre et de trouver tous ses diviseurs  en utilisant la boucle **For**.

In [17]:
n=int(input("saisir un nombre: "))
print("les diviseurs de {n} sont: ")
for i in range (1,n+1):
    if n% i == 0:
        print(i)

saisir un nombre: 7
les diviseurs de {n} sont:
1
7

#### Exercice 12
>Écris un programme qui demande à l'utilisateur d'entrer un entier naturel n et de trouver tous sa factorielle n!  en utilisant la boucle **For**. On rappelle que $n!=n*(n-1)*(n-2)...3*2*1$.

In [18]:
n=int(input("saisir un nombre entier naturel: "))
F=1
for i in range (1,n+1):
    F=F*i
    i+=1
print("Le factorielle de", n ,"est:", F)

saisir un nombre entier naturel: 8
Le factorielle de 8 est: 40320

#### Exercice 13
>Écris un programme qui demande à l'utilisateur d'entrer deux entiers naturels (plus petits que 15) et de trouver leur plus petit commun multiple utilisant la boucle **For**.

In [19]:
x=int(input("saisir un nombre entier naturel<15: "))
y=int(input("saisir un nombre entier naturel <15: "))
if 0<x<15 and 0<y<15:
 for i in range (max(x,y),(x*y)+1):
    if i%x==0 and i%y==0:
        PPCM = i
        break
 print("Le plus petit commun multiple de",x,"et",y,"est:",PPCM)
else:
    print("Error")

saisir un nombre entier naturel<15: 14
saisir un nombre entier naturel <15: 13
Le plus petit commun multiple de 14 et 13 est: 182

#### Exercice 14
>Écris un programme pour afficher la série de Fibonacci jusqu'à n termes en utilisant une boucle.

#### Exercice 15
>Écris, en utilisant une boucle **For**, un programme pour afficher 5 fois de suite le message "Python est un très bon langage de programmation".

#### Exercice 16
>Écris, en utilisant une boucle **While**, un programme pour afficher 7 fois de suite le message "A cette allure je finirai par tout abandonner pour la programmation".

#### Exercice 17
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

#### Exercice 18
>Écris, en utilisant une boucle **For**, un programme qui affiche chaque élément d'une chaine de caractère.

#### Exercice 19
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! 🎉 </span> </b></center>